<%- include('../partials/header') %>
<nav>
  <a href="/flights" id="all" class="nav-link">
    <span class="nav-link-span u-nav">All Flights</span>
  </a>
  <a href="/flights/new" id="new-flight" class="nav-link">
    <span class="nav-link-span u-nav">New Flight</span>
  </a>
</nav>
</header>
<main>
  <div class="top">
    <h2>New Ticket</h2>
  </div>
  <div class="forms">
    <br>
    <form action="/tickets/<%= flight._id %>" method="POST">
      <label>Seat:</label>
      <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
      <br>
      <p>example F9</p>
      <br>
      <label>Price:</label>
      <input type="number" name="price" required>
      <br>
      <label>Flight Number: <%= flight.flightNo %></label>
      <br>
      <button class="add-ticket" type="submit" value="Add Ticket">Add Ticket</button>
    </form>
  </div>
</main>
